<% include partials/header.ejs %>
<h1 style="text-align: center">Up and to the Right</h1>
<form class="" style="padding-top: 15%; padding-bottom: 15%;" action="/hours" method="post">
  Username: <input type="text" name="username" value=""><br>
  Password: <input type="password" name="" value=""><br>
  <input type="submit" name="" value="Log In"><br>
</form>
<% include partials/footer.ejs %>
