<% include partials/header.ejs %>
<h1 style="text-align: center;">Hours</h1>
<h1>Welcome, <%- username %></h1>
<form class="" action="/submit" method="post">
September 1: <input type="text" name="" value="" placeholder="Hours worked"> - <input type="text" name="" value="" placeholder="lunchtime"><br>
September 2: <input type="text" name="" value="" placeholder="Hours worked"> - <input type="text" name="" value="" placeholder="lunchtime"><br>
September 3: <input type="text" name="" value="" placeholder="Hours worked"> - <input type="text" name="" value="" placeholder="lunchtime"><br>
September 4: <input type="text" name="" value="" placeholder="Hours worked"> - <input type="text" name="" value="" placeholder="lunchtime"><br>
September 5: <input type="text" name="" value="" placeholder="Hours worked"> - <input type="text" name="" value="" placeholder="lunchtime"><br><br>
<input type="submit" name="" value="Submit Hours!">
</form>
<% include partials/footer.ejs %>
